
    .artesanal{
       
        display: grid;
        grid-template-columns: (4, 1fr);
        gap: 50px;
        width: 100%;
        line-height: 1.9;

    }
    
    .texto-cardapio{
        display: flex;
        align-items: center;
    }


    
    .tradicional{
        width: 100%;
        display: grid;
        grid-template-columns: (4, 1fr);
        gap: 50px;
        line-height: 1.9;

        
    }
     
    .txt1{
        line-height: 1.4;
       
    }

    .titulocardapio{
        font-size: 1.3em;
        
    }
     
    img{
        width: 100px;
        height: 100px;
       
    }
  
    h2{
        font-size: 1em;
        
    }
    h1{
        font-size: 1.3em;
    }
 
    
    ul, li{
     list-style-type: none;   
    }

    