header{
    display: flex;
    position: fixed;

    width: 100%;
    background-color: #000000;
  
    
}

.btn-header{
    border: none;
    background-color: #ffe100f3;
   display: flex;
    align-items: center;
    transition:.7s ease;
    position: relative;   
    right: -100px;
    top: -45px;
}

#navlogo{
    font-size: 24px;

}


#navlist{
   
    display: flex;
    flex-direction: row;

 
    

}


#navlist i{
   
 color: #ffe100;
 
    

}


#navlist a{
    color: white;
}


#navlist a:hover{
    color: #9c9898d0;
   
  
    

  
}




.botao-header{
    font-size: 30px;
    
    transition: .7s ease;
    cursor: pointer;
     color: yellow;
     display: flex;
    
     gap: 100px;
 

}


.btn-header:hover{
    background-color: #ffffff;
    transform: scale(96%);

}
