




#navlogo{
    font-size: 24px;

}


#navlist{
   
   display: flex;
    list-style: none;
    gap: 10px;
    line-height: 2.4;
    font-size: 2em;
    color: #000;
}


#navlist i{
   
 color: #ffe100;
 
 
    

}

#navlist a{
   
    color: #a02d2d;
    
       
   
   }
