header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;

  
    
}



#navlogo{
    font-size: 24px;

}


#navlist{
   
   display: flex;
   
    list-style: none;
    gap: 10px;
    line-height: 2.4;
    font-size: 1.6em;
    background-color: #553e3e;
    display: none;
   

       
 
    
 
    

}


#navlist i{
   
 color: #ffe100;
 
    

}

#navlist a{
   
    color: #000000;
    
       
   
   }

