@media screen and (max-width:768px){

 .header{
    height: 100%;
 }

.botao{
    color: black;
}



  
.container{
    display: grid;
    grid-template-columns: 2fr;
    
}


.submenu.active{

    font-size: 12px;
  
    }


#navlist{
   
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    width: 50%;
    height: 100vh;
    display: flex;
    font-size: 1.5em;
    padding: 20px;
    display: none;

 


      
        
    
    }
}

#navlist a{
    color: rgb(255, 255, 255);
    font-size: 1em;
    
}



.botao-header{
     padding: 10px;
    color: #ffe100;
    transition: .7s ease;
    cursor: pointer;
    display: flex; 
    background-color:black; 
    
    justify-content: space-between;


}

#burguer{
    position: relative;
    right: -10px;
}

#search{
    position: relative;
    right: 10px;
}

.sidebar{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
   
}

