
/* tela
 pequenas telas: ate 600px
 celular: de 600px ate 768px
 tablet: 768px ate 992px
 desktop:992px ate 1200px
 grande telas: acima de 1200px */

@media screen and (max-width: 1200px) {
    
.main{
    display: block;
}

.content{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    height: 12%;
}

.sobre-nos img{
    width: 600px;
    margin-left: -2px;
}

}

@media  screen and (max-width: 992px){
html{
font-size: 50%;
}
}

@media  screen and (max-width: 768px){
html{
font-size: 40%;
 }

.content{

display: flex;
flex-direction: row;
justify-content: space-between;
padding: 0px 40px;

}


.content .list-menu{

display: none;
}

.one, 
.two ,
 .three{
    width:  80%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    margin: 6px auto;
    transition-duration: 0.5s ;
}

.content.on{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(30, 31, 30, 0.8);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}



.content.on.logo{
    display: none;
}

.content.on .menu-toggle{
    position: absolute;
    right: 40px;
    top: 20px;
}

.content.on .list-menu{
    display: block;
}

.content.on .list-menu li{
    display: flex;
    justify-content: center;
    text-align: center;
}

.content.on .list-menu li a{
    font-size: 2rem;
}

.content.on .menu-toggle .two{
    opacity: 0;
}

.content.on .menu-toggle .one{
transform: rotate(45deg) translate(5px, -8px);
}

.content.on .menu-toggle .three{
    transform: rotate(-45deg) translate(20px, -6px);
    }

.menu-toggle{
    width: 30px;
    height: 30px;

}


.itens-cardapio{
grid-template-columns: repeat(2, mimax(50px, 350px));
}

.itens-cardapio .info h4{
margin-left: 12rem;
}

.contato-secao{
    display: block;
    text-align: center;
    font-size: 2rem;
}

.contato-secao div{
    margin: 1rem;
}

}

@media  screen and (max-width:600px){
.conteudo-principal h1{
    width: 500px;
    text-align: center;
    font-size: 4rem;
}

.conteudo-principal h2{
font-size: 2rem;
}

.itens-cardapio{
grid-template-columns: repeat(auto-fit, minmax(50px, 300px) );
}

.sobre-nos img{
width: 50%;
height: 250px;
margin-left: 150px;
}

}