@media (max-width: 1200px) {
    
.main{
    display: block;
}

.content{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    height: 12%;
}

.sobre-nos img{
    width: 600px;
    margin-left: -2px;
}

}

@media (max-width: 992px){
html{
font-size: 50%;
}
}

@media (max-width: 768px){
html{
font-size: 40%;
 }

.content{

display: flex;
flex-direction: row;
justify-content: space-between;
padding: 0px 40px;

}


.content .list-menu{
display: none;}

.one, 
.two ,
 .three{
    width:  80%;
    height: 2px;
    background-color: rgb(126, 6, 6);
    margin: 6px auto;
    transition-duration: 0.5s ;
}

.menu-toggle{
    width: 30px;
    height: 30px;

}

.itens-cardapio{
grid-template-columns: repeat(2, mimax(50px, 350px));
}

.itens-cardapio .info h4{
margin-left: 12rem;
}


}
